{% if config.plugins.admin.logo_text %}
<h3>
	<a href="{{ base_url_relative }}">
		{{ config.plugins.admin.logo_text }}
	</a>
	<a class="front-end" target="_blank" href="{{ base_url_relative_frontend }}"> <i class="fa fa-arrow-circle-right"></i></a>
</h3>
{% else %}
<div class="admin-logo">
	<a href="{{ base_url_relative }}" style="text-align: center;">
    <img src="{{ theme_url }}/images/logo2.png" class="grav-logo" id="grav-logo-large" />
	</a>
	<a class="front-end" target="_blank" href="{{ base_url_relative_frontend }}"> <i class="fa fa-arrow-circle-right"></i></a>
</div>
{% endif %}
